{% extends "base.html" %}

{% block title %}Power BI Analytics{% endblock %}

{% block page_title %}Power BI Analytics{% endblock %}

{% block page_subtitle %}
Interactive dashboards for churn monitoring, segmentation and retention management
{% endblock %}

{% block extra_css %}
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/powerbi.css') }}">
{% endblock %}

{% block content %}

<div class="powerbi-workspace">

    <iframe
        title="ATB Customer Churn Analytics"
        src="https://app.powerbi.com/reportEmbed?reportId=526a88b7-7a2a-4a7d-b4ce-972e30ae6f0f&autoAuth=true&ctid=604f1a96-cbe8-43f8-abbf-f8eaf5d85730&filterPaneEnabled=false&navContentPaneEnabled=false&pageView=fitToPage"
        frameborder="0"
        allowfullscreen="true">
    </iframe>

</div>

{% endblock %}


