.venv/
venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.vscode/

data/
notebooks/outputs/clean_data/
mlops/mlruns/

notebooks.zip

outputs/tables/customer_churn_risk_scores.xlsx
outputs/tables/high_risk_customers.xlsx
outputs/power_bi/*.csv
outputs/power_bi/*.parquet
structure_projet.txt
